<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Battery Swap System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Welcome to Battery Swap Appointment System</h1>

    <a href="/login" class="btn">Login</a>
    <a href="/register" class="btn">Register</a>

    <hr>

    <a href="/dashboard" class="btn">Book Appointments</a>
    <a href="/admin-login" class="btn">Admin Login</a>
  </div>
</body>
</html>
